<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>508944694639-0e2fo1900a8bcuvba9dqer896nd3392l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.508944694639-0e2fo1900a8bcuvba9dqer896nd3392l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>508944694639-j3q36e2jd0p7ut91s99nhqkrcod2ep58.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCMqNIlUPu03GtDvo_HJwIs9uU-8CXg2-8</string>
	<key>GCM_SENDER_ID</key>
	<string>508944694639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chathitu-33168</string>
	<key>STORAGE_BUCKET</key>
	<string>chathitu-33168.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:508944694639:ios:21d2425c639c48a3bbbc9a</string>
	<key>DATABASE_URL</key>
	<string>https://chathitu-33168-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>